<!-- Newsletter and Contact Section -->
<div class="w-full bg-blue-100 flex g flex-col items-center px-4 py-5 sm:px-20 sm:py-5">
    <div
        class="bg-white flex flex-col items-center p-5 rounded-lg w-full sm:flex-row sm:justify-between sm:px-20 sm:py-5">
        <p class="font-bold text-blue-900 text-xl sm:text-2xl mb-4 sm:mb-0">Subscribe to our newsletter</p>
        <div class="relative flex items-center w-full sm:w-auto sm:pl-56 mb-4 sm:mb-0">
            <input type="email" placeholder="Email Address"
                class="placeholder-white h-12 w-full sm:w-60 pl-2 pr-10 rounded-lg bg-yellow-500">
            <i class="fa-solid fa-paper-plane absolute right-2 top-1/2 transform -translate-y-1/2 text-white"></i>
        </div>
        <div class="flex items-center space-x-6">
            <i class="fa-solid fa-headphones text-4xl text-yellow-500"></i>
            <p class="text-gray-500 text-center sm:text-left">Call us 24/7 : <br>(+62) 0123 567 789</p>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-60 mt-5 text-blue-900 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col items-start">
            <img src="../../../assets/image/logo 1.png" alt="Logo" class="mb-4">
            <p class="border-b border-solid border-gray-400 w-40 pb-6 mb-4">64 St James Boulevard <br> Hoswick, ZE2 7ZJ
            </p>
            <div class="flex space-x-4 text-gray-500">
                <i class="fab fa-google"></i>
                <i class="fab fa-facebook"></i>
                <i class="fas fa-phone"></i>
            </div>
        </div>
        <div>
            <p class="font-bold mb-4">Find product</p>
            <ul>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Bronze Arnold</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Chronograph Blue</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Smart Phones</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Automatic Watch</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Hair Straighteners</span></li>
            </ul>
        </div>
        <div>
            <p class="font-bold mb-4">Get help</p>
            <ul>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">About Us</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Contact Us</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Return Policy</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Privacy Policy</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Payment Policy</span></li>
            </ul>
        </div>
        <div>
            <p class="font-bold mb-4">About us</p>
            <ul>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">News</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Service</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Our Policy</span></li>
                <li class="text-gray-400 mb-2"><span class="text-blue-900">Customer Care</span></li>
                <li class="text-gray-400"><span class="text-blue-900">FAQs</span></li>
            </ul>
        </div>
    </div>
</div>