<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-10 ml-72">
    <!-- Form Section -->
    <form class="max-w-lg mx-auto w-full" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Danh muc</label>
            <input formControlName="name" type="text" id="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required />
            <span class="text-red-500 text-xs"
                *ngIf="categoryForm.controls.name?.errors?.['required'] && (categoryForm.controls.name?.dirty || categoryForm.controls.name?.touched)">
                Tên danh muc không được để trống
            </span>
            <span class="text-red-500 text-xs"
                *ngIf="categoryForm.controls.name?.errors?.['minlength'] && (categoryForm.controls.name?.dirty || categoryForm.controls.name?.touched)">
                Tên danh mục phải có ít nhất 4 ký tự
            </span>
        </div>
        <button type="submit" [disabled]="!categoryForm.valid"
            class="text-white mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit
        </button>
    </form>

    <!-- Table Section -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6 w-96">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="p-4">
                        <div class="flex items-center">
                            <input id="checkbox-all-search" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Category name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                    *ngFor="let category of categories">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{category.name}}
                    </th>
                    <td class="flex items-center px-6 py-6">
                        <button (click)="OnDelete(category.id)"
                            class="font-medium text-red-600 dark:text-red-500 hover:underline ml-3">
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>