<div class="relative px-4 mt-10 lg:px-20">
    <img src="../../../assets/image/pexels-nao-triponez-129208 1 (5).png" alt="New Laptop" class="rounded-lg mb-10 w-full">
    <div class="absolute top-0 right-4 flex flex-col items-center mt-36 space-y-4 lg:right-48">
        <p class="text-white bg-yellow-500 py-2 px-4 rounded-full">New laptop</p>
        <p class="text-2xl text-blue-400 font-bold lg:text-4xl">Sale up to 50% off</p>
        <p class="text-white text-sm lg:text-base">12 inch HD display</p>
        <button class="mt-4 px-6 py-2 bg-yellow-500 text-white rounded-full">Shop now</button>
    </div>
</div>
