<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 pl-20 m-20">
    <ng-container *ngFor="let product of products">
        <div class="relative border-gray-300 border-2 p-4 pr-24 rounded-lg">
            <img src={{product.image}} alt="">
            <i class="fa-solid fa-heart text-2xl text-red-500 absolute top-4 right-4"></i>
            <div class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-50">
                <div class="flex items-center">
                    <button class="bg-blue-400 text-white px-10 py-4 rounded-full font-bold">
                        <a routerLink="/cart">Add to cart</a>
                    </button>
                    <i class="fa-solid fa-cart-shopping text-white px-4 mt-1 ml-28 absolute"></i>
                    <button>
                        <a [routerLink]="['/detail', product.id]">
                            <i class="fa-solid fa-eye text-white px-4 py-4 border-2 rounded-full ml-2 bg-blue-400"></i>
                        </a>
                    </button>
                </div>
            </div>
            <p class="text-blue-900 font-bold">{{product.name}}</p>
            <span>{{product.price}}</span>
            <br>
            <span>
                <i class="fa-regular fa-star hover:text-yellow-500"></i>
                <i class="fa-regular fa-star hover:text-yellow-500"></i>
                <i class="fa-regular fa-star hover:text-yellow-500"></i>
                <i class="fa-regular fa-star hover:text-yellow-500"></i>
                <i class="fa-regular fa-star hover:text-yellow-500"></i>
            </span>
        </div>
    </ng-container>
</div>
<div *ngIf="products.length === 0">
    <p>Không tìm thấy sản phẩm.</p>
</div>
